<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/styles.css"></link>
        <title>
            Index
        </title>
    </head>

    <body>
        <div  align="center">
            <div align="center" class="border">
                <div class="header">
                    <h1 class="bottom">Welcome</h1>
                </div>
                <h1 class = "bottom">Greetings {{name}}<br><br>
                    {{msg}}<br><br>
                    It is great to have you here<br><br>
                    <a href="/logout" class="btn">Log out</a>
                </h1>
            </div>
        </div>
    </body>
</html>